.banner {
    @extend %fl-col;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 0;
    @media (min-width: $breakpoint-l) {
        flex-direction: row;
        padding-bottom: 115px;
    }

    &__text {
        @extend %fl-col;
        max-width: 725px;
        width: 100%;
        h1 {
            font-size: 32px;
            line-height: 57px;
            color: $white;
            margin-bottom: 20px;
            @media (min-width: $breakpoint-m) {
                font-size: 42px;
            }
            img {
                max-width: 455px;
                width: 100%;
            }
        }

        button {
            font-weight: 600;
            font-size: 20px;
            line-height: 152%;
            color: $white;
            background-color: transparent;
            border: 0;
            max-width: 220px;
            width: 100%;
            text-transform: uppercase;
            position: relative;
            &:hover {
                opacity: 80%;
            }
            &:hover::after {
                right: -73px;
                transition: 0.5s;
            }
            &::before {
                background-image: url(../../images/square.png);
                background-repeat: no-repeat;
                content: "";
                position: absolute;
                border-radius: 5px;
                width: 45px;
                height: 45px;
                right: -70px;
                top: -5px;
            }
            &::after {
                z-index: 1;
                background-image: url(../../images/arrow.svg);
                background-repeat: no-repeat;
                content: "";
                position: absolute;
                border-radius: 5px;
                width: 45px;
                height: 45px;
                right: -50px;
                transition: 0.5s;
                top: 9px;
            }
        }

        p {
            text-transform: lowercase;
            font-family: $montserrat;
            font-weight: 300;
            font-size: 20px;
            line-height: 152%;
            color: $white;
            opacity: 60%;
            padding-top: 40px;
            padding-bottom: 75px;
            @media (min-width: $breakpoint-m) {
                font-size: 24px;
            }
        }
    }

    &__separator {
        height: 3px;
        width: 80px;
        background-color: $white;
        margin-top: 20px;
    }

    &__img {
        text-align: center;
        img {
            max-width: 780px;
            width: 100%;
            z-index: -1;
        }
        @media (min-width: $breakpoint-l) {
            text-align: initial;
        }
    }
}
