*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background-color: $primary;
}

.open-menu {
  overflow-y: hidden;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a, button {
  transition: 0.5s;
  cursor: pointer;
}

%fl-col {
  display: flex;
  flex-direction: column;
}

%fl-col-rev {
  display: flex;
  flex-direction: column-reverse;
}

.background {
  background-color: $secondary;
  width: 100%;
}