.offers {
    @extend %fl-col;
    padding-top: 20px;
    padding-bottom: 20px;
    @media (min-width: $breakpoint-m) {
        padding-top: 100px;
    }
    @media (min-width: $breakpoint-l) {
        padding-bottom: 100px;
    }

    &__description {
        @extend %fl-col-rev;
        padding-bottom: 40px;
        @media (min-width: $breakpoint-m) {
            flex-direction: row;
        }
        &_btn {
            @extend %fl-col;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            @media (min-width: 600px) {
                flex-direction: row;
                justify-content: space-between;
                text-align: initial;
            }
        }
        &_text {
            @extend %fl-col;
            p {
                font-family: $montserrat;
                font-size: 20px;
                line-height: 152%;
                color: $primary;
                max-width: 740px;
                width: 100%;
                margin-bottom: 60px;

                span {
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }

            h2 {
                font-weight: 800;
                font-size: 32px;
                line-height: 102%;
                color: $primary;
            }
        }

        &_img {
            display: flex;
            justify-content: center;
            @media (min-width: $breakpoint-m) {
                justify-content: initial;
            }
            img {
                max-width: 410px;
                width: 100%;
            }
        }
    }
}

.card {
    max-width: 285px;
    width: 100%;
    padding: 40px 15px;
    background: linear-gradient(100.74deg, #1c1c1c -7.06%, #0d0d0d 104.89%);
    box-shadow: 0px 15px 20px rgba(23, 29, 38, 0.4);
    border-radius: 5px;
    div {
        font-weight: 800;
        font-size: 24px;
        line-height: 102%;
        color: #59a8fd;
        margin-bottom: 30px;
    }
    span {
        display: block;
        font-size: 18px;
        line-height: 112%;
        color: $white;
        margin-bottom: 20px;
        position: relative;
        margin-left: 30px;
        &:last-of-type {
            margin-bottom: 0;
        }
        &::before {
            z-index: 1;
            background-image: url(../../images/card-arrow.svg);
            background-repeat: no-repeat;
            content: "";
            position: absolute;
            border-radius: 5px;
            width: 45px;
            height: 45px;
            transition: 0.5s;
            top: 5px;
            left: -25px;
        }
    }
}

.slider-btn {
    display: flex;
    padding-top: 20px;
    @media (min-width: 600px) {
        padding-left: 20px;
        padding-top: 0;
    }
}

.swiper {
    max-height: 400px;
    width: 100%;
    &-slide {
        display: flex;
        justify-content: center;
    }
    &-button-prev {
        position: relative;
        border: 2px solid rgba(2, 123, 253, 0.5);
        padding: 20px;
        width: 50px;
        margin: 0 15px 0 0;
        color: rgba(2, 123, 253, 0.5);
        font-size: 20px;
        &::after {
            content: "";
        }
        &:hover {
            background-color: #027bfd;
            color: $white;
        }
    }
    &-button-next {
        position: relative;
        border: 2px solid rgba(2, 123, 253, 0.5);
        padding: 20px;
        width: 50px;
        margin: 0 0 0 15px;
        color: rgba(2, 123, 253, 0.5);
        font-size: 20px;
        &::after {
            content: "";
        }
        &:hover {
            background-color: #027bfd;
            color: $white;
        }
    }
}
