<footer class="footer container">
    <div class="footer__logo">
        <a href="#"><img src="../../images/logo.png" alt="logo"></a>
        <div><abbr>ИНН</abbr>: 9725042364</div>
        <div><abbr>ОГРН</abbr>: 1207700506562</div>
    </div>

    <div class="footer__links">
        <a href="#">Маркетинг</a>
        <a href="#">Программирование</a>
        <a href="#">Дизайн</a>
        <a href="#">Копирайтинг</a>
        <a href="#">Мультмедиа</a>
    </div>

    <div class="footer__policy">
        <a href="../../images/logo.png" download>Скачать презентацию <em>(5 mb)</em></a>
        <a href="#" target="_blank">Политика конфиденциальности</a>
        <div>Copyright &copy; 2021 Digital-агентство «Active Trust»</div>
    </div>

</footer>