<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@300;400;600;700;800&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/6f85ddd646.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./css/index.min.css">
</head>

<body>

  {% include "templates/_base/_header.html" %}

  <main>
    <div class="banner container">
      <div class="banner__text">
        <h1>Digital–агентство
          <div><img src="./images/active-group.png" alt="brand name"></div>
        </h1>

        <div class="banner__separator"></div>

        <p>
          Это отлаженная машина по производству качественного контента для всех видов медиа бизнеса в любом формате:
          текстовом, аудио, видео, анимационном.
        </p>

        <button>Связаться с нами</button>
      </div>

      <div class="banner__img">
        <img src="./images/rainbow.png" alt="rainbow">
      </div>
    </div>

    <div class="wrap-apply">
      <div class="apply container">
        <div class="apply__contact">
          <h5>Наши контакты</h5>
          <address>118280 г. Москва, ул. Ленинская Слобода, д. 19. БЦ “Омега Плаза”</address>

          <div class="apply__phone">
            <a href="tel:+7(919) 962-62-35">+7(919) 962-62-35</a>
            <a href="tel:8 (495) 968-86-77">8 (495) 968-86-77</a>
          </div>

          <a href="mailto:info@active-trust.com" class="apply__mail">info@active-trust.com</a>

          <div class="apply__social">
            <a href="https://web.telegram.org/" target="_blank"><i class="fab fa-telegram"></i></a>
            <a href="https://web.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a>
          </div>
        </div>

        <div class="apply__form">
          <form>
            <h6>Оставьте заявку</h6>
            <p>И мы свяжемся с вами в течение 30 минут</p>
            <label>
              <input type="text" placeholder="Имя * ">
            </label>

            <label>
              <input type="tel" placeholder="Телефон * ">
            </label>

            <label>
              <input type="email" placeholder="E-mail ">
            </label>

            <button type="submit">Отправить заявку</button>
          </form>

          <p>Нажимая на кнопку Вы соглашаетесь с политикой конфиденциальности</p>
        </div>
      </div>
    </div>
  </main>

  {% include "templates/_base/_footer.html" %}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="./js/menu.js"></script>
  <script src="./js/index.min.js"></script>
</body>

</html>